
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title> Login </title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/css/materialize.min.css" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    
    

</head>

<body>
   

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <form class="col s12 m6 l6">
            <div class="modal-content">
                <h4>Recordar contraseña</h4>

                <div class="row">
                    <div class="input-field col s12">

                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefix" type="email" class="validate" required>
                        <label for="icon_prefix">Usuario</label>
                        <label for="email" data-error="wrong" data-success="right"> </label>

                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </form>
    </div>
            <div class="container">
                
                <div class="col s12 m6 l6">
                    <h2 class="header">Bienvenido</h2>
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="http://lorempixel.com/100/190/nature/6" class="responsive-img">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <form class="col s12 m6 l6">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            
                                                <i class="material-icons prefix">account_circle</i>
                                                <input id="email" type="email" class="validate" required>
                                                <label for="icon_prefix">Usuario</label>
                                                <label for="email" data-error="wrong" data-success="right"> </label>
                                          
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">vpn_key</i>
                                            <input id="password" type="password" class="validate" required>
                                            <label for="password">Contraseña</label>
                                            <label for="password" data-error="wrong" data-success="right"> </label>
                                                
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 m6 l6">
                                            <div class="card-action center">
                                                <button id="login" class="btn waves-effect waves-light" type="submit" name="action">
                                                    Login
                                                    <i class="material-icons right">done</i>
                                                </button>


                                            </div>
                                        </div>
                                        <div class="col s12 m6 l6">
                                            <div class="card-action center">
                                                <!-- Modal Trigger -->
                                                <button data-target="modal1" class="btn modal-trigger">Modal</button>

                                            </div>
                                        </div>
                                        </div>

                                            

                                </form>
                                
                            </div>
                           
                                
                            </div>

                            
                    </div>
                </div>
                </div>
                

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="~/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/js/materialize.js"> </script>
    <script src="~/js/init.js"></script>
    <script type="text/javascript">

          /*  $(document).ready(function (){
                 alert("hello");
            }); */
        $(document).ready(function () {
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal-trigger').leanModal();
        });

      

    </script>
    <script type="text/javascript" src="~/js/materialize.min.js"></script>
    
</body>
</html>
